.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
  // background-color: $background-color;
}
h1,
h2,
h3,
h4 {
  font-family: "Righteous", cursive;
}
.btn {
  padding: 0.7rem;
  color: $main-color;
  font-size: 1.2rem;
  background-color: $secondary-color;
  display: inline-block;
  margin-top: 1.5rem;
  transition: all 0.4s ease;
  &:hover {
    color: $secondary-color;
    background-color: $main-color;
  }
}
.text-eff {
  color: red;
}
.logo {
  color: $main-color;
  padding: 0.5rem;
  width: 40%;
}
.nav-item {
  padding: 0.7rem;
  text-transform: uppercase;
  align-items: center;
}
.error {
  color: red;
}
